a{
    text-decoration: none;
}

.productCard{
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    margin: 20px 50px;
    background-color: rgba($color: 
    #749a76, $alpha: 0.5);
    img{
        width: 300px;
        height: 300px;
        object-fit: cover;
    }
    img:hover{
        cursor: pointer;
    }
    .productInfo{
        width: 60%;
        color: #333;
        h2:hover{
            cursor: pointer;
        }
    }
    // .add_to_cart{
    //     color: #dadbe2;
    //     background-color: rgba($color: 
    //     #3c503d, $alpha: 0.5);
    //     height: 25px;
    //     padding: 10px 10px;
    //     text-align: center;
    //     border-radius: 3px;
    // }
    // .add_to_cart:hover{
    //     cursor: pointer;
    // }
    .button_box{
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
        button{
            width: 50px;
            height: 50px;
            font-size: x-large;
        }
        p{
            font-size: x-large;
            color: #333;
        }
    }
}