.show_order{
    width: 600px;        /* 容器宽度 */
    height: 70vh;       /* 容器高度 */
    overflow-y: auto;    /* 开启垂直滚动条，内容超出时显示 */
    border: 1px solid #201c3c;  /* 边框，便于视觉识别容器 */
    // padding: 10px; 
    margin-top: 40px;
    padding: 20px;
    position: relative;
    

}
.container_order{
    width: 100%;        /* 容器宽度 */
}
.buttons_box{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 30px;
    margin-top: 20px;
    gap: 30px;
}

.button{
    padding: 5px 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: larger;
    border-radius: 3px;
}

.container_order label{

    display: block;
    margin: 10px 10px;
}
.container_order input{

    margin-left: 5px;
    padding: 0 3px;
}