.single_product_page{
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 60px;
    padding: 20px;
    width: 60%;
    background-color: rgba($color: 
    #749a76, $alpha: 0.5);
    border: 0.5px solid rgb(91, 87, 87);
    img{
        width: 400px;
        height: 400px;
        // margin: 20px;
    }
    .product_info{
        align-items: left;
    }
    .button_box{
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
        margin-bottom: 150px;

        button{
            width: 50px;
            height: 50px;
            font-size: x-large;
        }
        p{
            font-size: x-large;
            color: #333;
        }
    }
}